In [1]:
# pip install vnstock

In [2]:
import pandas as pd
import numpy as np


import math
from sklearn import tree
from sklearn import neighbors
import statsmodels.formula.api as smf
import warnings
warnings.filterwarnings("ignore")

C:\Users\Khang Lam\AppData\Roaming\Python\Python38\site-packages\statsmodels\compat\pandas.py:65: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  from pandas import Int64Index as NumericIndex

In [6]:
from vnstock import *

In [4]:
data_2020 = pd.read_csv(r'E:\Lam Nhut Thinh\Đồ án tốt nghiệp\Dataset\dataset.csv',encoding='latin1')
data_2020

      Mã Sàn
0    CHP  HM
1    POM  HM
2    TDC  HM
3    NVT  HM
4    SPM  HM
..   ...  ..
347  LHG  HM
348  BTT  HM
349  DAG  HM
350  CCI  HM
351  IJC  HM

[352 rows x 2 columns]

In [5]:
data_2021 = pd.read_excel('E:\Lam Nhut Thinh\Đồ án tốt nghiệp\Dataset\HoSE2021.xlsx')
data_2021

    NAME          EBIT    PB     QR     DA  TATO    ROS   OCFTD  TARGET
0    AAA  549533712545  1.21   1.33  45.51  1.41   2.47    9.74       0
1    AAM     327519670  0.68  14.11   3.36  0.65   0.17  670.20       0
2    AAT   46872787454  1.72   2.81  31.52  0.61   6.09   15.64       0
3    ABR   23470767691  1.95   4.48  18.16  0.31  21.20   23.36       0
4    ABS  115352346496  2.37   1.89  41.84  0.87   5.45  -84.44       0
..   ...           ...   ...    ...    ...   ...    ...     ...     ...
369  VSI   77971929067  1.40   1.91  59.41  0.43  19.48    6.37       0
370  VTB    9197001447  0.69   1.67  26.54  1.14   2.33  109.59       0
371  VTO  188207416023  0.89   1.84  34.65  0.53  13.67   38.72       0
372  YBM   30473166195  0.75   0.89  58.88  1.15   2.99   13.52       0
373  YEG  120117717153  0.91   2.74  36.04  0.78   2.78  -17.87       0

[374 rows x 9 columns]

In [6]:
dn_2020 = data_2020['Mã'].tolist()
dn_2021 = data_2021['NAME'].tolist()
for i in ['JVC','UDC','AST','SCD','SII','VFG','HU1','HU3','CIG','DLG','PMG','SJD','VAF','VNS','HOT','VOS','TNI','HVN','VPH',
          'RDP','HAG','SMA','AAM','HNG','PIT','PXS','TCR','DXV','MCG','PTC','NVT','PTL','CII','CTI','HAS','ITD','PNC','VIC']:
    if dn_2020.count(i)==0:
        dn_2020.append(i)

for i in ['FTM','RIC','PXI','VIS','GTN','HAG','PTL','TDH','JVC','UDC','AST','SCD','SII','CIG','DLG','PMG','HOT','VOS','TNI',
          'SMA','RDP','HNG','PIT','TCR','DXV','NVT','HAS','HNG','TCR']:
    if dn_2021.count(i)==0:
        dn_2021.append(i)        
for i in ['ACB','AGR','APG','BIC','BID','BMI','BSI','BVH','CTG','CTS','EIB','EVF','FTS']:
    if dn_2020.count(i)>0:
        dn_2020.remove(i)
    if dn_2021.count(i)>0:
        dn_2021.remove(i)

In [7]:
len(dn_2020)

354

In [8]:
len(dn_2021)

379

In [9]:
dn_2020.remove('ACG')
dn_2020.remove('KHG')
dn_2020.remove('DXS')
dn_2020.remove('ASG')
dn_2020.remove('APH')
dn_2020.remove('ILB')
dn_2020.remove('FRT')

In [10]:
dn_2021.remove('BAF')
dn_2021.remove('SVD')

In [11]:
# pb_2020 = []
# qr_2020 = []
# debt_2020 = []
# asset_2020 = []
# ni_2020 = []
# sale_2020 = []
# ocf_2020 = []
# ebt_2020 = []
# ie_2020 = []

# for i in dn_2020:
#     pb_2020.append(financial_ratio(i, 'yearly', True)[['year','priceToBook','quickPayment']].iloc[2,1])
#     qr_2020.append(financial_ratio(i, 'yearly', True)[['year','priceToBook','quickPayment']].iloc[2,2])
#     debt_2020.append(financial_flow(symbol=i, report_type='balancesheet', report_range='yearly')[['asset','debt']].iloc[2,1])
#     asset_2020.append(financial_flow(symbol=i, report_type='balancesheet', report_range='yearly')[['asset','debt']].iloc[2,0])
#     ni_2020.append(financial_flow(symbol=i, report_type='incomestatement', report_range='yearly')[['revenue','postTaxProfit']].iloc[2,1])
#     sale_2020.append(financial_flow(symbol=i, report_type='incomestatement', report_range='yearly')[['revenue','postTaxProfit']].iloc[2,0])
#     ocf_2020.append(financial_flow(symbol=i, report_type='cashflow', report_range='yearly')[['ticker','fromSale']].iloc[2,1])
#     ebt_2020.append(financial_flow(symbol=i, report_type='incomestatement', report_range='yearly')[['interestExpense','preTaxProfit']].iloc[2,1])
#     ie_2020.append(financial_flow(symbol=i, report_type='incomestatement', report_range='yearly')[['interestExpense','preTaxProfit']].iloc[2,0])

In [12]:
pb_2020_1 = []
qr_2020_1 = []
debt_2020_1 = []
asset_2020_1 = []
ni_2020_1 = []
sale_2020_1 = []
ocf_2020_1 = []
ebt_2020_1 = []
ie_2020_1 = []

for i in dn_2020:
    print(i)
    pb_2020_1.append(financial_ratio(i, 'yearly', True)[['year','priceToBook','quickPayment']].iloc[3,1])
    qr_2020_1.append(financial_ratio(i, 'yearly', True)[['year','priceToBook','quickPayment']].iloc[3,2])
    debt_2020_1.append(financial_flow(symbol=i, report_type='balancesheet', report_range='yearly')[['asset','debt']].iloc[3,1])
    asset_2020_1.append(financial_flow(symbol=i, report_type='balancesheet', report_range='yearly')[['asset','debt']].iloc[3,0])
    ni_2020_1.append(financial_flow(symbol=i, report_type='incomestatement', report_range='yearly')[['revenue','postTaxProfit']].iloc[3,1])
    sale_2020_1.append(financial_flow(symbol=i, report_type='incomestatement', report_range='yearly')[['revenue','postTaxProfit']].iloc[3,0])
    ocf_2020_1.append(financial_flow(symbol=i, report_type='cashflow', report_range='yearly')[['ticker','fromSale']].iloc[3,1])
    ebt_2020_1.append(financial_flow(symbol=i, report_type='incomestatement', report_range='yearly')[['interestExpense','preTaxProfit']].iloc[3,1])
    ie_2020_1.append(financial_flow(symbol=i, report_type='incomestatement', report_range='yearly')[['interestExpense','preTaxProfit']].iloc[3,0])

CHP
POM
TDC
NVT
SPM
TNT
HU1
SBA
DTL
PDN
NNC
DLG
CMV
BCE
UDC
DTA
NHA
AAA
DRH
VRC
PDR
QCG
SMB
VOS
SHP
PTL
HVX
VMD
C32
SMA
ELC
DSN
HQC
TDW
SCR
CMX
LM8
EVE
HTI
VSI
HTL
CLW
MDG
NKG
VCF
CCL
HU3
C47
IDI
JVC
PTB
CIG
THG
HOT
SVT
CNG
BRC
HHS
GSP
DRL
GAS
DHM
FCN
SII
EMC
AGM
HAR
SHA
NLG
FCM
CLL
SKG
MWG
DGC
HVN
QBS
AMD
SFG
CAV
NCT
TTB
HAH
CSV
DCM
SGR
VAF
HNG
BCG
DGW
LDG
VPS
BFC
STK
NAF
DAT
VGC
GEX
SGN
HHV
TEG
KPF
TDM
VPD
TIP
S4A
HCD
ADS
HID
DAH
TCH
IBC
BHN
PC1
SAB
NVL
DPG
DBD
VJC
GEG
PLX
SBV
TCD
CTF
EVG
LEC
THI
HII
SJF
TVT
SCS
BWE
VDP
NHH
CTR
NHT
KOS
POW
PGV
BCM
GVR
ABR
TDP
AAT
TNH
TTA
PSH
PSH
CKG
ABS
AGG
ADG
GAB
TN1
HUB
SZC
TTE
MSH
HVH
HTN
FIR
CRE
CRC
HHP
HPX
YEG
TGG
VHM
PMG
VPG
AST
TLD
VPI
VRE
PLP
PVT
DRC
TDH
DBC
TCM
DPR
ST8
TPC
BMP
COM
SJS
VSH
KHP
PPC
SMC
TCT
BBC
GMD
GIL
HTV
HAS
MHC
HAP
CII
KDC
LAF
PNC
REE
SAM
SFC
SAV
SSC
TNA
TMS
VNM
TYA
HRC
DHA
HMC
IMP
FMC
RAL
HAX
LGC
PJT
DMC
SJD
VID
SFI
VTB
CLC
ITA
NAV
NSC
DHG
LBM
PVD
VIP
PAC
PGC
FPT
ABT
DTT
SCD
TRC
GTA
ACL
HBC
TSC
SC5
UIC
VNE
PET
HT1
TNC
HDC
VTO
VIC
BMC
HPG
CDC
TTF
ASP
DPM
DQC
PIT
SGT
KBC
SBT
DXV
NTL
L10
VHC
ANV
LSS
VSC
HAI
GMC
MCP
TCR
SVC
TBC
PAN
PTC
KMR
VNS
VCG
SZL
DCL
OPC
DC4
LCG
TRA
HSG
HAG
SVI
NBB
PNJ
TMP
AAM
DHC
CSM
D2D
PHR
VNL
DIG
VPH
RDP
TCO
MCG
LGL
ITC
TV2
SRC
SRF
DBT
CVT
PHC
MSN
GDT
TIX
BTP
PGD
DVP
LIX
ITD
VNG
VFG
DXG
TCL
ACC
SHI
CTD
ASM
CMG
KSB
TMT
FDC
HDG
NT2
KDH
TLG
STG
CTI
APC
TLH
LHG
BTT
DAG
CCI
IJC
TNI
PXS

In [13]:
# pb_2021 = []
# qr_2021 = []
# debt_2021 = []
# asset_2021 = []
# ni_2021 = []
# sale_2021 = []
# ocf_2021 = []
# ebt_2021 = []
# ie_2021 = []

# for i in dn_2021:
#     pb_2021.append(financial_ratio(i, 'yearly', True)[['year','priceToBook','quickPayment']].iloc[1,1])
#     qr_2021.append(financial_ratio(i, 'yearly', True)[['year','priceToBook','quickPayment']].iloc[1,2])
#     debt_2021.append(financial_flow(symbol=i, report_type='balancesheet', report_range='yearly')[['asset','debt']].iloc[1,1])
#     asset_2021.append(financial_flow(symbol=i, report_type='balancesheet', report_range='yearly')[['asset','debt']].iloc[1,0])
#     ni_2021.append(financial_flow(symbol=i, report_type='incomestatement', report_range='yearly')[['revenue','postTaxProfit']].iloc[1,1])
#     sale_2021.append(financial_flow(symbol=i, report_type='incomestatement', report_range='yearly')[['revenue','postTaxProfit']].iloc[1,0])
#     ocf_2021.append(financial_flow(symbol=i, report_type='cashflow', report_range='yearly')[['ticker','fromSale']].iloc[1,1])
#     ebt_2021.append(financial_flow(symbol=i, report_type='incomestatement', report_range='yearly')[['interestExpense','preTaxProfit']].iloc[1,1])
#     ie_2021.append(financial_flow(symbol=i, report_type='incomestatement', report_range='yearly')[['interestExpense','preTaxProfit']].iloc[1,0])

In [14]:
ie_2021_1 = []
pb_2021_1 = []
qr_2021_1 = []
debt_2021_1 = []
asset_2021_1 = []
ni_2021_1 = []
sale_2021_1 = []
ocf_2021_1 = []
ebt_2021_1 = []
ie_2021_1 = []

for i in dn_2021:
    print(i)
    pb_2021_1.append(financial_ratio(i, 'yearly', True)[['year','priceToBook','quickPayment']].iloc[2,1])
    qr_2021_1.append(financial_ratio(i, 'yearly', True)[['year','priceToBook','quickPayment']].iloc[2,2])
    debt_2021_1.append(financial_flow(symbol=i, report_type='balancesheet', report_range='yearly')[['asset','debt']].iloc[2,1])
    asset_2021_1.append(financial_flow(symbol=i, report_type='balancesheet', report_range='yearly')[['asset','debt']].iloc[2,0])
    ni_2021_1.append(financial_flow(symbol=i, report_type='incomestatement', report_range='yearly')[['revenue','postTaxProfit']].iloc[2,1])
    sale_2021_1.append(financial_flow(symbol=i, report_type='incomestatement', report_range='yearly')[['revenue','postTaxProfit']].iloc[2,0])
    ocf_2021_1.append(financial_flow(symbol=i, report_type='cashflow', report_range='yearly')[['ticker','fromSale']].iloc[2,1])
    ebt_2021_1.append(financial_flow(symbol=i, report_type='incomestatement', report_range='yearly')[['interestExpense','preTaxProfit']].iloc[2,1])
    ie_2021_1.append(financial_flow(symbol=i, report_type='incomestatement', report_range='yearly')[['interestExpense','preTaxProfit']].iloc[2,0])

AAA
AAM
AAT
ABR
ABS
ABT
ACC
ACL
ADG
ADS
AGG
AGM
AMD
ANV
APC
APH
ASG
ASM
ASP
AST
BBC
BCE
BCG
BCM
BFC
BHN
BKG
BMC
BMP
BRC
BTP
BTT
BWE
C32
C47
CAV
CCI
CCL
CDC
CEE
CHP
CIG
CII
CKG
CLC
CLL
CLW
CMG
CMV
CMX
CNG
COM
CRC
CRE
CSM
CSV
CTD
CTF
CTI
CTR
CVT
D2D
DAG
DAH
DAT
DBC
DBD
DBT
DC4
DCL
DCM
DGC
DGW
DHA
DHC
DHG
DHM
DIG
DLG
DMC
DPG
DPM
DPR
DQC
DRC
DRH
DRL
DSN
DTA
DTL
DTT
DVP
DXG
DXS
DXV
ELC
EMC
EVE
EVG
FCM
FCN
FDC
FIR
FIT
FLC
FMC
FPT
FRT
GAB
GAS
GDT
GEG
GEX
GIL
GMC
GMD
GSP
GTA
GVR
HAG
HAH
HAI
HAP
HAR
HAS
HAX
HBC
HCD
HCM
HDC
HDG
HHP
HHS
HHV
HID
HII
HMC
HNG
HOT
HPG
HPX
HQC
HRC
HSG
HSL
HT1
HTI
HTL
HTN
HTV
HU1
HU3
HUB
HVH
HVN
HVX
IBC
ICT
IDI
IJC
ILB
IMP
ITA
ITC
ITD
JVC
KBC
KDC
KDH
KHG
KHP
KMR
KOS
KPF
KSB
L10
LAF
LBM
LCG
LCM
LDG
LEC
LGC
LGL
LHG
LIX
LM8
MCG
MCP
MDG
MHC
MIG
MSH
MSN
MWG
NAF
NAV
NBB
NCT
NHA
NHH
NHT
NKG
NLG
NNC
NSC
NT2
NTL
NVL
NVT
OGC
OPC
ORS
PAC
PAN
PC1
PDN
PDR
PET
PGC
PGD
PGI
PGV
PHC
PHR
PIT
PJT
PLP
PLX
PMG
PNC
PNJ
POM
POW
PPC
PSH
PTB
PTL
PVD
PVT
PXS
QBS
QCG
RAL
RDP
REE
ROS
S4A
SAB
SAM
SAV
SBA
SBT
SBV
SC5
SCD
SCR
SCS
SFC
SFG
SFI
SGN
SGR
SGT
SHA
SHI
SHP
SII
SJD
SJF
SJS
SKG
SMA
SMB
SMC
SPM
SRC
SRF
SSC
SSI
ST8
STG
STK
SVC
SVI
SVT
SZC
SZL
TBC
TCD
TCH
TCL
TCM
TCO
TCR
TCT
TDC
TDG
TDH
TDM
TDP
TDW
TEG
TGG
THG
THI
TIP
TIX
TLD
TLG
TLH
TMP
TMS
TMT
TN1
TNA
TNC
TNH
TNI
TNT
TPC
TRA
TRC
TSC
TTA
TTB
TTE
TTF
TV2
TVB
TVS
TVT
TYA
UDC
UIC
VAF
VCA
VCF
VCG
VCI
VDP
VDS
VFG
VGC
VHC
VHM
VIC
VID
VIP
VIX
VJC
VMD
VND
VNE
VNG
VNL
VNM
VNS
VOS
VPD
VPG
VPH
VPI
VPS
VRE
VSC
VSH
VSI
VTB
VTO
YBM
YEG
FTM
RIC
PXI
VIS
GTN

In [15]:
financial_ratio('BBC', 'yearly', True)[['year','priceToBook','quickPayment']].iloc[1,1]

1.2

In [16]:
financial_ratio('PXS', 'yearly', True)

,ticker,quarter,year,priceToEarning,priceToBook,valueBeforeEbitda,dividend,roe,roa,daysReceivable,...,loanOnAsset,loanOnDeposit,depositOnEarnAsset,badDebtOnAsset,liquidityOnLiability,payableOnEquity,cancelDebt,ebitdaOnStockChange,bookValuePerShareChange,creditGrowth
0,PXS,5,2022,-3.9,0.9,-8.5,NaN,-0.208,-0.058,-162,...,None,None,None,None,None,2.8,None,-1.639,-0.189,None
1,PXS,5,2021,564.3,2.0,9.6,NaN,0.004,0.001,-86,...,None,None,None,None,None,2.4,None,-0.272,0.004,None
2,PXS,5,2020,130.2,1.3,5.8,NaN,0.010,0.003,-100,...,None,None,None,None,None,2.9,None,-1.296,0.010,None
3,PXS,5,2019,-1.3,1.0,-1.4,NaN,-0.570,-0.191,275,...,None,None,None,None,None,2.5,None,2.349,-0.442,None
4,PXS,5,2018,-2.2,0.5,-5.7,NaN,-0.206,-0.082,788,...,None,None,None,None,None,1.7,None,-1.786,-0.187,None
5,PXS,5,2017,654.8,0.8,9.5,NaN,0.001,0.001,233,...,None,None,None,None,None,1.4,None,-0.616,-0.096,None
6,PXS,5,2016,5.6,0.6,2.5,0.13,0.111,0.048,104,...,None,None,None,None,None,1.3,None,-0.152,0.080,None
7,PXS,5,2015,5.4,0.8,5.0,0.13,0.154,0.064,71,...,None,None,None,None,None,1.3,None,-0.172,0.151,None
8,PXS,5,2014,NaN,NaN,5.5,0.13,0.193,0.077,52,...,None,None,None,None,None,1.5,None,-0.067,0.065,None
9,PXS,5,2013,NaN,NaN,5.7,0.13,0.138,0.053,78,...,None,None,None,None,None,1.5,None,-0.072,0.299,None
10,PXS,5,2012,NaN,NaN,4.9,0.15,0.143,0.045,48,...,None,None,None,None,None,1.7,None,-0.043,0.028,None
11,PXS,5,2011,NaN,NaN,3.1,0.18,0.299,0.095,28,...,None,None,None,None,None,2.6,None,-0.305,0.798,None
12,PXS,5,2010,NaN,NaN,3.2,0.20,0.508,0.211,24,...,None,None,None,None,None,1.4,None,NaN,1.994,None

In [17]:
x = financial_ratio("AAA", 'yearly', True)[['year','priceToBook','quickPayment']]
x

    year  priceToBook  quickPayment
0   2022          0.6           1.2
1   2021          1.6           1.3
2   2020          1.4           0.9
3   2019          1.1           1.2
4   2018          1.5           1.0
5   2017          4.5           0.8
6   2016          4.4           0.8
7   2015          2.5           1.3
8   2014          NaN           1.1
9   2013          NaN           0.6
10  2012          NaN           0.7
11  2011          NaN           0.5
12  2010          NaN           1.0
13  2009          NaN           0.9

In [18]:
financial_ratio("AAA", 'yearly', True)[['year','priceToBook','quickPayment']].iloc[2,1]

1.4

In [19]:
y = financial_flow(symbol="AAA", report_type='incomestatement', report_range='yearly')[['revenue','postTaxProfit']]
y

         revenue  postTaxProfit
index
2022-Q5    15290            117
2021-Q5    13143            324
2020-Q5     7429            283
2019-Q5     9258            491
2018-Q5     8012            212
2017-Q5     4070            263
2016-Q5     2144            143
2015-Q5     1615             41
2014-Q5     1561             48
2013-Q5     1158             55
2012-Q5     1010             56
2011-Q5      911             66
2010-Q5      679             90
2009-Q5      385             38
2008-Q5      248             23
2007-Q5      109             16

In [20]:
financial_flow(symbol="AAA", report_type='incomestatement', report_range='yearly')[['revenue','postTaxProfit']].iloc[2,0]

7429

In [21]:
z = financial_flow(symbol="AAA", report_type='balancesheet', report_range='yearly')[['asset','debt']]
z

         asset  debt
index
2022-Q5  10796  4625
2021-Q5  10010  4555
2020-Q5   8569  4545
2019-Q5   7987  4732
2018-Q5   7529  4549
2017-Q5   4576  2951
2016-Q5   3078  2123
2015-Q5   1955  1135
2014-Q5   1422   635
2013-Q5   1151   599
2012-Q5    900   374
2011-Q5    817   465
2010-Q5    645   321
2009-Q5    437   314
2008-Q5    271   169
2007-Q5    154    77

In [22]:
financial_flow(symbol="ACB", report_type='balancesheet', report_range='yearly')[['asset','debt']].iloc[2,1]

409082

In [23]:
t = financial_flow(symbol="AAA", report_type='cashflow', report_range='yearly')[['ticker','fromSale']]
t

        ticker  fromSale
index
2022-Q5    AAA        97
2021-Q5    AAA       444
2020-Q5    AAA       613
2019-Q5    AAA       489
2018-Q5    AAA        39
2017-Q5    AAA       -81
2016-Q5    AAA        80
2015-Q5    AAA       -73
2014-Q5    AAA        99
2013-Q5    AAA        84
2012-Q5    AAA       111
2011-Q5    AAA        56
2010-Q5    AAA        -1
2009-Q5    AAA        52
2008-Q5    AAA       -46
2007-Q5    AAA       -50

In [24]:
financial_flow(symbol="AAA", report_type='cashflow', report_range='yearly')[['ticker','fromSale']].iloc[2,1]

613

In [25]:
financial_flow(symbol='AAA', report_type='incomestatement', report_range='yearly')[['interestExpense','preTaxProfit']].iloc[2,0]

-201

In [26]:
y.columns

Index(['revenue', 'postTaxProfit'], dtype='object')

In [27]:
z.columns

Index(['asset', 'debt'], dtype='object')

In [28]:
x = ['a','b','c']
x.remove('b')
x

['a', 'c']

In [49]:
df_2020 = pd.DataFrame(data = {'NAME': dn_2020, 'PB1': pb_2020_1, 
                               'QR1': qr_2020_1, 'Debt1': debt_2020_1, 'Asset1': asset_2020_1,
                              'NI1': ni_2020_1, 'Sale1': sale_2020_1, 'OCF1': ocf_2020_1, 'EBT1': ebt_2020_1, 'IE1': ie_2020_1})
df_2020

    NAME  PB1   QR1   Debt1  Asset1  NI1  Sale1  OCF1  EBT1  IE1
0    CHP  1.5   0.8  1847.0    3612  216    714   554   227 -128
1    POM  0.4   0.6  8304.0   11799 -310  11995  -195  -303 -356
2    TDC  0.6   0.1  5005.0    6245  154   1563   668   199 -233
3    NVT  2.0   1.5   210.0     625   54    278    68    68   -2
4    SPM  0.2   3.3   265.0    1022    9    492   -30    12  -13
..   ...  ...   ...     ...     ...  ...    ...   ...   ...  ...
342  DAG  0.5   0.5   942.0    1614   53   1635    49    71  -47
343  CCI  0.9  11.7   418.0     691   30    385    13    37    0
344  IJC  1.6   0.2  5715.0    7547  284   1600  1078   345  -56
345  TNI  0.9   1.2   740.0    1330   19   1853   -44    24  -22
346  PXS  1.0   0.4   841.0    1179 -269    405     0  -267  -21

[347 rows x 10 columns]

In [50]:
df_2020.iloc[17,:]

NAME       AAA
PB1        1.1
QR1        1.2
Debt1     4732
Asset1    7987
NI1        491
Sale1     9258
OCF1       489
EBT1       597
IE1       -225
Name: 17, dtype: object

In [51]:
df_2021 = pd.DataFrame(data = {'NAME': dn_2021, 'PB1': pb_2021_1, 
                               'QR1': qr_2021_1, 'Debt1': debt_2021_1, 'Asset1': asset_2021_1,
                              'NI1': ni_2021_1, 'Sale1': sale_2021_1, 'OCF1': ocf_2021_1, 'EBT1': ebt_2021_1, 'IE1': ie_2021_1})
df_2021

    NAME  PB1  QR1   Debt1  Asset1  NI1  Sale1  OCF1  EBT1    IE1
0    AAA  1.4  0.9  4545.0    8569  283   7429   613   319 -201.0
1    AAM  0.6  3.3    17.0     211  -12    121   -24   -12    0.0
2    AAT  NaN  1.7   155.0     580   14    287    32    19  -11.0
3    ABR  2.1  4.6    46.0     282   25     98    23    30    0.0
4    ABS  3.7  1.2   735.0    1170   48   1104  -272    60   -8.0
..   ...  ...  ...     ...     ...  ...    ...   ...   ...    ...
372  FTM  0.2  0.9  1177.0    1490 -200     81   -56  -200  -90.0
373  RIC  0.4  0.4   145.0     941  -82    126    22   -82   -6.0
374  PXI  0.4  1.3   210.0     431  -50      8    21   -50   -2.0
375  VIS  2.2  1.0  2090.0    2588 -219   4593   296  -214  -77.0
376  GTN  1.5  2.5   469.0    4025    7   2970   272     9   -2.0

[377 rows x 10 columns]

In [58]:
df_2020.isnull().sum()

PB1       8
QR1       0
Debt1     0
Asset1    0
NI1       0
Sale1     0
OCF1      0
EBT1      0
IE1       0
TARGET    0
dtype: int64

In [53]:
financial_distress_firms_2020 = ['JVC','UDC','AST','SCD','SII','VFG','HU1','HU3','CIG','DLG','PMG','SJD','VAF','VNS','HOT','VOS','TNI','HVN','VPH',
          'RDP','HAG','SMA','AAM','HNG','PIT','PXS','TCR','DXV','MCG','PTC','NVT','PTL','CII','CTI','HAS','ITD','PNC','VIC']
df_2020['TARGET'] = 0
for i in range(len(df_2020)):
    if df_2020.iloc[i,0] in financial_distress_firms_2020:
        df_2020.iloc[i,len(df_2020.columns)-1] = 1
    else:
        df_2020.iloc[i,len(df_2020.columns)-1] = 0
df_2020 = df_2020.set_index('NAME')
df_2020

      PB1   QR1   Debt1  Asset1  NI1  Sale1  OCF1  EBT1  IE1  TARGET
NAME
CHP   1.5   0.8  1847.0    3612  216    714   554   227 -128       0
POM   0.4   0.6  8304.0   11799 -310  11995  -195  -303 -356       0
TDC   0.6   0.1  5005.0    6245  154   1563   668   199 -233       0
NVT   2.0   1.5   210.0     625   54    278    68    68   -2       1
SPM   0.2   3.3   265.0    1022    9    492   -30    12  -13       0
...   ...   ...     ...     ...  ...    ...   ...   ...  ...     ...
DAG   0.5   0.5   942.0    1614   53   1635    49    71  -47       0
CCI   0.9  11.7   418.0     691   30    385    13    37    0       0
IJC   1.6   0.2  5715.0    7547  284   1600  1078   345  -56       0
TNI   0.9   1.2   740.0    1330   19   1853   -44    24  -22       1
PXS   1.0   0.4   841.0    1179 -269    405     0  -267  -21       1

[347 rows x 10 columns]

In [54]:
financial_distress_firms_2021 = ['FTM','RIC','PXI','VIS','GTN','HAG','PTL','TDH','JVC','UDC','AST','SCD','SII','CIG','DLG','PMG','HOT','VOS','TNI',
          'SMA','RDP','HNG','PIT','TCR','DXV','NVT','HAS','HNG','TCR']
df_2021['TARGET'] = 0
for i in range(len(df_2021)):
    if df_2021.iloc[i,0] in financial_distress_firms_2021:
        df_2021.iloc[i,len(df_2021.columns)-1] = 1
    else:
        df_2021.iloc[i,len(df_2021.columns)-1] = 0
df_2021 = df_2021.set_index('NAME')
df_2021

      PB1  QR1   Debt1  Asset1  NI1  Sale1  OCF1  EBT1    IE1  TARGET
NAME
AAA   1.4  0.9  4545.0    8569  283   7429   613   319 -201.0       0
AAM   0.6  3.3    17.0     211  -12    121   -24   -12    0.0       0
AAT   NaN  1.7   155.0     580   14    287    32    19  -11.0       0
ABR   2.1  4.6    46.0     282   25     98    23    30    0.0       0
ABS   3.7  1.2   735.0    1170   48   1104  -272    60   -8.0       0
...   ...  ...     ...     ...  ...    ...   ...   ...    ...     ...
FTM   0.2  0.9  1177.0    1490 -200     81   -56  -200  -90.0       1
RIC   0.4  0.4   145.0     941  -82    126    22   -82   -6.0       1
PXI   0.4  1.3   210.0     431  -50      8    21   -50   -2.0       1
VIS   2.2  1.0  2090.0    2588 -219   4593   296  -214  -77.0       1
GTN   1.5  2.5   469.0    4025    7   2970   272     9   -2.0       1

[377 rows x 10 columns]

In [55]:
frames = [df_2020, df_2021]

df = pd.concat(frames, sort=False)
df

      PB1  QR1   Debt1  Asset1  NI1  Sale1  OCF1  EBT1    IE1  TARGET
NAME
CHP   1.5  0.8  1847.0    3612  216    714   554   227 -128.0       0
POM   0.4  0.6  8304.0   11799 -310  11995  -195  -303 -356.0       0
TDC   0.6  0.1  5005.0    6245  154   1563   668   199 -233.0       0
NVT   2.0  1.5   210.0     625   54    278    68    68   -2.0       1
SPM   0.2  3.3   265.0    1022    9    492   -30    12  -13.0       0
...   ...  ...     ...     ...  ...    ...   ...   ...    ...     ...
FTM   0.2  0.9  1177.0    1490 -200     81   -56  -200  -90.0       1
RIC   0.4  0.4   145.0     941  -82    126    22   -82   -6.0       1
PXI   0.4  1.3   210.0     431  -50      8    21   -50   -2.0       1
VIS   2.2  1.0  2090.0    2588 -219   4593   296  -214  -77.0       1
GTN   1.5  2.5   469.0    4025    7   2970   272     9   -2.0       1

[724 rows x 10 columns]

In [56]:
# df = df.dropna()

In [57]:
df

      PB1  QR1   Debt1  Asset1  NI1  Sale1  OCF1  EBT1    IE1  TARGET
NAME
CHP   1.5  0.8  1847.0    3612  216    714   554   227 -128.0       0
POM   0.4  0.6  8304.0   11799 -310  11995  -195  -303 -356.0       0
TDC   0.6  0.1  5005.0    6245  154   1563   668   199 -233.0       0
NVT   2.0  1.5   210.0     625   54    278    68    68   -2.0       1
SPM   0.2  3.3   265.0    1022    9    492   -30    12  -13.0       0
...   ...  ...     ...     ...  ...    ...   ...   ...    ...     ...
FTM   0.2  0.9  1177.0    1490 -200     81   -56  -200  -90.0       1
RIC   0.4  0.4   145.0     941  -82    126    22   -82   -6.0       1
PXI   0.4  1.3   210.0     431  -50      8    21   -50   -2.0       1
VIS   2.2  1.0  2090.0    2588 -219   4593   296  -214  -77.0       1
GTN   1.5  2.5   469.0    4025    7   2970   272     9   -2.0       1

[724 rows x 10 columns]

In [59]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 724 entries, CHP to GTN
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   PB1     712 non-null    float64
 1   QR1     724 non-null    float64
 2   Debt1   724 non-null    float64
 3   Asset1  724 non-null    int64
 4   NI1     724 non-null    int64
 5   Sale1   724 non-null    int64
 6   OCF1    724 non-null    int64
 7   EBT1    724 non-null    int64
 8   IE1     722 non-null    float64
 9   TARGET  724 non-null    int64
dtypes: float64(4), int64(6)
memory usage: 62.2+ KB

In [60]:
df.to_csv('data_final_sub.csv')

In [40]:
print(financial_ratio('RDP', 'yearly', True)[['year','priceToBook','quickPayment']].iloc[2,1])
print(financial_ratio('RDP', 'yearly', True)[['year','priceToBook','quickPayment']].iloc[2,2])
print(financial_flow(symbol='RDP', report_type='balancesheet', report_range='yearly')[['asset','debt']].iloc[2,1])
print(financial_flow(symbol='RDP', report_type='balancesheet', report_range='yearly')[['asset','debt']].iloc[2,0])
print(financial_flow(symbol='RDP', report_type='incomestatement', report_range='yearly')[['revenue','postTaxProfit']].iloc[2,1])
print(financial_flow(symbol='RDP', report_type='incomestatement', report_range='yearly')[['revenue','postTaxProfit']].iloc[2,0])
print(financial_flow(symbol='RDP', report_type='cashflow', report_range='yearly')[['ticker','fromSale']].iloc[2,1])
print(financial_flow(symbol='RDP', report_type='incomestatement', report_range='yearly')[['interestExpense','preTaxProfit']].iloc[2,1])
print(financial_flow(symbol='RDP', report_type='incomestatement', report_range='yearly')[['interestExpense','preTaxProfit']].iloc[2,0])

1.0
0.6
1716
2185
3
2744
29
9
-94

In [4]:
financial_ratio('PSH', 'yearly', True)

,ticker,quarter,year,priceToEarning,priceToBook,valueBeforeEbitda,dividend,roe,roa,daysReceivable,...,loanOnAsset,loanOnDeposit,depositOnEarnAsset,badDebtOnAsset,liquidityOnLiability,payableOnEquity,cancelDebt,ebitdaOnStockChange,bookValuePerShareChange,creditGrowth
0,PSH,5,2022,-3.2,0.5,36.2,None,-0.145,-0.024,8,...,None,None,None,None,None,5.5,None,-0.812,-0.181,None
1,PSH,5,2021,8.5,1.5,8.0,None,0.194,0.033,10,...,None,None,None,None,None,4.3,None,0.830,0.199,None
2,PSH,5,2020,71.4,1.3,13.8,None,0.019,0.003,10,...,None,None,None,None,None,5.1,None,-0.284,0.013,None
3,PSH,5,2019,NaN,NaN,11.6,None,0.100,0.014,16,...,None,None,None,None,None,4.9,None,-0.369,0.489,None
4,PSH,5,2018,NaN,NaN,NaN,None,0.209,0.021,14,...,None,None,None,None,None,7.4,None,-0.137,0.906,None

In [21]:
financial_ratio('AAA', 'yearly', True)[['year','priceToBook','quickPayment']]

    year  priceToBook  quickPayment
0   2022          0.6           1.2
1   2021          1.6           1.3
2   2020          1.4           0.9
3   2019          1.1           1.2
4   2018          1.5           1.0
5   2017          4.5           0.8
6   2016          4.4           0.8
7   2015          2.5           1.3
8   2014          NaN           1.1
9   2013          NaN           0.6
10  2012          NaN           0.7
11  2011          NaN           0.5
12  2010          NaN           1.0
13  2009          NaN           0.9

In [16]:
financial_ratio('APH', 'yearly', True)[['year','priceToBook','quickPayment']].iloc[2,1]

4.9

In [23]:
print(financial_ratio('SVT', 'yearly', True)[['year','priceToBook','quickPayment']].iloc[3,1])
print(financial_ratio('SVT', 'yearly', True)[['year','priceToBook','quickPayment']].iloc[3,2])
print(financial_flow(symbol='SVT', report_type='balancesheet', report_range='yearly')[['asset','debt']].iloc[3,1])
print(financial_flow(symbol='SVT', report_type='balancesheet', report_range='yearly')[['asset','debt']].iloc[3,0])
print(financial_flow(symbol='SVT', report_type='incomestatement', report_range='yearly')[['revenue','postTaxProfit']].iloc[3,1])
print(financial_flow(symbol='SVT', report_type='incomestatement', report_range='yearly')[['revenue','postTaxProfit']].iloc[3,0])
print(financial_flow(symbol='SVT', report_type='cashflow', report_range='yearly')[['ticker','fromSale']].iloc[3,1])
print(financial_flow(symbol='SVT', report_type='incomestatement', report_range='yearly')[['interestExpense','preTaxProfit']].iloc[3,1])
print(financial_flow(symbol='SVT', report_type='incomestatement', report_range='yearly')[['interestExpense','preTaxProfit']].iloc[3,0])

0.5
42.8
0
143
10
87
5
10
0

In [14]:
financial_ratio('AST', 'yearly', True)[['year','priceToBook','quickPayment']]

   year  priceToBook  quickPayment
0  2020          5.3           3.8
1  2019          6.3           1.6
2  2018          4.2           1.4
3  2017          NaN           1.7

In [15]:
financial_flow(symbol='AST', report_type='balancesheet', report_range='yearly')[['asset','debt']]

         asset  debt
index
2022-Q5    579   123
2021-Q5    503    90
2020-Q5    625    85
2019-Q5    874   230
2018-Q5    666   111
2017-Q5    626   157
2016-Q5    368   166
2015-Q5     51    24

In [16]:
financial_flow(symbol='AST', report_type='incomestatement', report_range='yearly')[['revenue','postTaxProfit','interestExpense','preTaxProfit']]

         revenue  postTaxProfit  interestExpense  preTaxProfit
index
2022-Q5      604             34               -3            39
2021-Q5      154           -129               -2          -128
2020-Q5      359            -52               -2           -49
2019-Q5     1141            212                0           263
2018-Q5      865            163               -3           204
2017-Q5      659            148               -6           181
2016-Q5      317             44               -3            55
2015-Q5       39              1                0             1

In [17]:
financial_flow(symbol='AST', report_type='cashflow', report_range='yearly')[['ticker','fromSale']]

        ticker  fromSale
index
2022-Q5    AST        98
2021-Q5    AST       -84
2020-Q5    AST       -86
2019-Q5    AST       210
2018-Q5    AST       187
2017-Q5    AST       113
2016-Q5    AST        75
2015-Q5    AST        11